{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <section id="navbar">
        <div class="inner"> 
            <h1> Bienvenue sur notre dashboard </h1>
            <div class="nav">
        </div>
        </div>
    </section>

    </div>
    <h1>
    <ul>
    <li style="margin-left: 40px; text-align: center;"><a href="batiments">Voir la liste des bâtiments</a></li>   
</ul></h1>
</body>
</html>

